<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmute.edu.vn.mssv18110290">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".ActivityDetail"></activity>
        <activity
            android:name=".ActivityMy"
            android:label=""
            android:theme="@style/NoActionBar" />
        <activity android:name=".ActivityListProducts" />
        <activity android:name=".ActivityAddPro" />
        <activity android:name=".Product" />
        <activity
            android:name=".ListType"
            android:label="" />
        <activity android:name=".ActivityAddCatogories" />
        <activity
            android:name=".ActivityRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityAccuracy"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>